extends ../layout/index

block contents
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-gray-900 Real
            span.font-normal Estate 
        h2.text-center.text-2xl.font-extrabold= pageName

        .mt-8.mx-auto.max-w-md

            .bg-blue-50.py-8.px-4.shadow.rounded-lg
  
                form.space-y-5
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Your Name
                        input#name.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Name" type="Name" name="name")
                    
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Email register
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Email" type="email" name="email")

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Password" type="password" name="password")

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Repeat Password
                        input#repeat_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Repeat Password" type="password" name="repeat_password")

                    div.flex.items-center.justify-between
                        a.text-sm.text-gray-400.text-xs(href="/auth/login") Already have an account?
                        a.text-sm.text-gray-400.text-xs(href="/auth/forget-password") Forgot your password?
                    

                    input(class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 cursor-pointer rounded-md" type="submit" value="Create Account")
