extends ./layout/app

block contents
    section(class="py-5")
        h2(class="text-center text-4xl font-extrabold pt-10")= pageName

        p(class="text-center text-gray-600 mt-10") Oops! The page you're looking for doesn't exist. Please check the URL or return to the homepage. 
            